In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv("student_data.csv")

In [4]:
dataset

,schoolid,schoolname,CalendarYear,MainOPEID,SchoolCity,SchoolState,SchoolZipCode,TermType,SchoolType,SchoolStatus
0,100300,Faulkner University,2022,100300,Montgomery,AL,36109,SEM,PRI,Active
1,103600,Samford University,2022,103600,Birmingham,AL,35229,SEM,PRI,Active
2,105100,University of Alabama,2022,105100,Tuscaloosa,AL,35487,SEM,PUB,Active
3,108100,Arizona State University,2022,108100,Phoenix\n,AZ,850044467,SEM,PUB,Active
4,108300,University of Arizona,2022,108300,Tucson,AZ,85721\n,SEM,PUB,Active
...,...,...,...,...,...,...,...,...,...,...
205,3691400,Ave Maria School of Law,2022,3691400,Naples,FL,34119,SEM,PRI,Active
206,4096300,Charleston School of Law,2022,4096300,Charleston,SC,29403,SEM,PRI,Active
207,4131400,Arizona Summit Law School,2022,4131400,Phoenix,AZ,85004,SEM,PRI,InActive
208,4143500,Charlotte School of Law,2022,4143500,Charlotte,NC,28244,SEM,PRI,InActive
209,4242101,UNT Dallas College Of Law,2022,4242100,Dallas,TX,75201,SEM,PUB,Active

In [7]:
df=pd.DataFrame(dataset)

In [8]:
df

,schoolid,schoolname,CalendarYear,MainOPEID,SchoolCity,SchoolState,SchoolZipCode,TermType,SchoolType,SchoolStatus
0,100300,Faulkner University,2022,100300,Montgomery,AL,36109,SEM,PRI,Active
1,103600,Samford University,2022,103600,Birmingham,AL,35229,SEM,PRI,Active
2,105100,University of Alabama,2022,105100,Tuscaloosa,AL,35487,SEM,PUB,Active
3,108100,Arizona State University,2022,108100,Phoenix\n,AZ,850044467,SEM,PUB,Active
4,108300,University of Arizona,2022,108300,Tucson,AZ,85721\n,SEM,PUB,Active
...,...,...,...,...,...,...,...,...,...,...
205,3691400,Ave Maria School of Law,2022,3691400,Naples,FL,34119,SEM,PRI,Active
206,4096300,Charleston School of Law,2022,4096300,Charleston,SC,29403,SEM,PRI,Active
207,4131400,Arizona Summit Law School,2022,4131400,Phoenix,AZ,85004,SEM,PRI,InActive
208,4143500,Charlotte School of Law,2022,4143500,Charlotte,NC,28244,SEM,PRI,InActive
209,4242101,UNT Dallas College Of Law,2022,4242100,Dallas,TX,75201,SEM,PUB,Active

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   schoolid       210 non-null    int64
 1   schoolname     210 non-null    object
 2   CalendarYear   210 non-null    int64
 3   MainOPEID      210 non-null    int64
 4   SchoolCity     209 non-null    object
 5   SchoolState    210 non-null    object
 6   SchoolZipCode  209 non-null    object
 7   TermType       210 non-null    object
 8   SchoolType     210 non-null    object
 9   SchoolStatus   210 non-null    object
dtypes: int64(3), object(7)
memory usage: 16.5+ KB

In [10]:
df.describe()

           schoolid  CalendarYear     MainOPEID
count  2.100000e+02         210.0  2.100000e+02
mean   4.737353e+05        2022.0  4.750915e+05
std    7.717196e+05           0.0  7.718858e+05
min    1.003000e+05        2022.0  1.003000e+05
25%    1.774250e+05        2022.0  1.774250e+05
50%    2.692055e+05        2022.0  2.692000e+05
75%    3.524750e+05        2022.0  3.524750e+05
max    4.242101e+06        2022.0  4.242100e+06

In [13]:
df.schoolid

0       100300
1       103600
2       105100
3       108100
4       108300
        ...
205    3691400
206    4096300
207    4131400
208    4143500
209    4242101
Name: schoolid, Length: 210, dtype: int64

In [16]:
df.iloc[200]

schoolid                   3091300
schoolname       Regent University
CalendarYear                  2022
MainOPEID                  3091300
SchoolCity          Virginia Beach
SchoolState                     VA
SchoolZipCode                23464
TermType                       SEM
SchoolType                     PRI
SchoolStatus                Active
Name: 200, dtype: object

In [21]:
df

,schoolid,schoolname,CalendarYear,MainOPEID,SchoolCity,SchoolState,SchoolZipCode,TermType,SchoolType,SchoolStatus
0,100300,Faulkner University,2022,100300,Montgomery,AL,36109,SEM,PRI,Active
1,103600,Samford University,2022,103600,Birmingham,AL,35229,SEM,PRI,Active
2,105100,University of Alabama,2022,105100,Tuscaloosa,AL,35487,SEM,PUB,Active
3,108100,Arizona State University,2022,108100,Phoenix\n,AZ,850044467,SEM,PUB,Active
4,108300,University of Arizona,2022,108300,Tucson,AZ,85721\n,SEM,PUB,Active
...,...,...,...,...,...,...,...,...,...,...
205,3691400,Ave Maria School of Law,2022,3691400,Naples,FL,34119,SEM,PRI,Active
206,4096300,Charleston School of Law,2022,4096300,Charleston,SC,29403,SEM,PRI,Active
207,4131400,Arizona Summit Law School,2022,4131400,Phoenix,AZ,85004,SEM,PRI,InActive
208,4143500,Charlotte School of Law,2022,4143500,Charlotte,NC,28244,SEM,PRI,InActive
209,4242101,UNT Dallas College Of Law,2022,4242100,Dallas,TX,75201,SEM,PUB,Active

In [29]:
df.loc[100]

schoolid                            262901
schoolname       Rutgers University-Camden
CalendarYear                          2022
MainOPEID                           262900
SchoolCity                          Camden
SchoolState                             NJ
SchoolZipCode                        08102
TermType                               SEM
SchoolType                             PUB
SchoolStatus                      InActive
Name: 100, dtype: object

In [30]:
df.head()

,schoolid,schoolname,CalendarYear,MainOPEID,SchoolCity,SchoolState,SchoolZipCode,TermType,SchoolType,SchoolStatus
0,100300,Faulkner University,2022,100300,Montgomery,AL,36109,SEM,PRI,Active
1,103600,Samford University,2022,103600,Birmingham,AL,35229,SEM,PRI,Active
2,105100,University of Alabama,2022,105100,Tuscaloosa,AL,35487,SEM,PUB,Active
3,108100,Arizona State University,2022,108100,Phoenix\n,AZ,850044467,SEM,PUB,Active
4,108300,University of Arizona,2022,108300,Tucson,AZ,85721\n,SEM,PUB,Active

In [32]:
df.tail(50)

,schoolid,schoolname,CalendarYear,MainOPEID,SchoolCity,SchoolState,SchoolZipCode,TermType,SchoolType,SchoolStatus
160,361300,Southern Methodist University,2022,361300,Dallas,TX,75275,SEM,PRI,Active
161,362300,St. Mary's University,2022,362300,San Antonio,TX,78228,SEM,PRI,Active
162,363221,Texas A&M University,2022,363200,Fort Worth,TX,76102,SEM,PUB,Active
163,364200,Texas Southern University,2022,364200,Houston,TX,77004,SEM,PUB,Active
164,364400,Texas Tech University,2022,364400,Lubbock,TX,79409,SEM,PUB,Active
165,365200,University of Houston,2022,365200,Houston,TX,77204,SEM,PUB,Active
166,365800,University of Texas at Austin,2022,365800,Austin,TX,78705,SEM,PUB,Active
167,367000,Brigham Young University,2022,367000,Provo,UT,84602,SEM,PRI,Active
168,367500,University of Utah,2022,367500,Salt Lake City,UT,84112,SEM,PUB,Active
169,370500,William and Mary Law School,2022,370500,Williamsburg,VA,23185,SEM,PUB,Active
170,374400,University of Richmond,2022,374400,Richmond,VA,23173,SEM,PRI,Active
171,374500,University of Virginia,2022,374500,Charlottesville,VA,22903,SEM,PUB,Active
172,374900,George Mason University,2022,374900,Arlington,VA,22201,SEM,PUB,Active
173,376800,Washington and Lee University,2022,376800,Lexington,VA,24450,SEM,PRI,Active
174,377800,Gonzaga University,2022,377800,Spokane,WA,99220,SEM,PRI,Active
175,379001,Seattle University,2022,379000,Seattle,WA,98122,SEM,PRI,Active
176,379800,University of Washington,2022,379800,Seattle,WA,98195,QTR,PUB,Active
177,382700,West Virginia University,2022,382700,Morgantown,WV,26506,SEM,PUB,Active
178,386300,Marquette University,2022,386300,Milwaukee,WI,53201,SEM,PRI,Active
179,389500,University of Wisconsin,2022,389500,Madison,WI,53706,SEM,PUB,Active
180,393200,University of Wyoming,2022,393200,Laramie,WY,82071,SEM,PUB,Active
181,393600,Pontifical Catholic University of P.R.,2022,393600,Ponce,PR,00717,SEM,PRI,Active
182,394200,University of Puerto Rico,2022,710800,San Juan,PR,00931,SEM,PUB,Active
183,394700,"UC College of the Law, San Francisco",2022,394700,San Francisco,CA,94102,SEM,PUB,Active
184,396900,University of Minnesota,2022,396900,Minneapolis,MN,55455,SEM,PUB,Active
185,425090,Inter American University of Puerto Rico,2022,393800,San Juan,PR,00936,SEM,PRI,Active
186,497700,South Texas College of Law,2022,497700,Houston,TX,77002,SEM,PRI,Active
187,891600,New England Law | Boston,2022,891600,Boston,MA,02116,SEM,PRI,Active
188,927500,Northern Kentucky University,2022,927500,Highland Heights,KY,41099,SEM,PUB,Active
189,963500,Florida International University,2022,963500,Miami,FL,33199,SEM,PUB,Active
190,1014205,Touro University,2022,1014200,Central Islip,NY,11722,SEM,PRI,Active
191,1014913,Pepperdine University,2022,1014900,Malibu,CA,90263,SEM,PRI,Active
192,1039501,University of San Diego,2022,1039500,San Diego,CA,92110,SEM,PRI,Active
193,1085400,Thomas Jefferson School of Law,2022,1085400,San Diego,CA,92101,SEM,PRI,InActive
194,1164901,Loyola Marymount University-Los Angeles,2022,1164900,Los Angeles,CA,90015,SEM,PRI,Active
195,1193400,Vermont Law School,2022,1193400,South Royalton,VT,05068,SEM,PRI,Active
196,1262700,Western Michigan University,2022,1262700,Lansing,MI,48933\n,SEM,PRI,Active
197,1310300,California Western School of Law,2022,1310300,San Diego,CA,92101,TRI,PRI,Active
198,2053000,Liberty University,2022,2053000,Lynchburg,VA,24515,SEM,PRI,Active
199,2179937,Western State College of Law,2022,2179900,Irvine\n,CA,92618,SEM,PRI,Active
200,3091300,Regent University,2022,3091300,Virginia Beach,VA,23464,SEM,PRI,Active
201,3173300,Atlanta's John Marshall Law School,2022,3173300,Atlanta,GA,30309,SEM,PRI,Active
202,3191300,City University of New York,2022,3191300,Long Island City,NY,11101,SEM,PUB,Active
203,3374300,Florida Coastal School of Law,2022,3374300,Jacksonville,FL,32256,SEM,PRI,InActive
204,3559300,Appalachian School of Law,2022,3559300,Grundy,VA,24614,SEM,PRI,Active
205,3691400,Ave Maria School of Law,2022,3691400,Naples,FL,34119,SEM,PRI,Active
206,4096300,Charleston School of Law,2022,4096300,Charleston,SC,29403,SEM,PRI,Active
207,4131400,Arizona Summit Law School,2022,4131400,Phoenix,AZ,85004,SEM,PRI,InActive
208,4143500,Charlotte School of Law,2022,4143500,Charlotte,NC,28244,SEM,PRI,InActive
209,4242101,UNT Dallas College Of Law,2022,4242100,Dallas,TX,75201,SEM,PUB,Active

# new csv file is included

In [11]:
dff=pd.read_csv("matches.csv")

In [12]:
dff

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [36]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [39]:
np

In [42]:
dff[:-1]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,631,2016,Kolkata,2016-05-22,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,22,0,YK Pathan,Eden Gardens,KN Ananthapadmanabhan,M Erasmus,NaN
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN

In [44]:
dff[2:]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [49]:
dff.head() #its a function to use to data preview

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [48]:
dff.tail(10) #its a function to use to data preview

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
626,627,2016,Kanpur,2016-05-19,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,6,DR Smith,Green Park,AK Chaudhary,CK Nandan,NaN
627,628,2016,Raipur,2016-05-20,Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,KK Nair,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
628,629,2016,Visakhapatnam,2016-05-21,Kings XI Punjab,Rising Pune Supergiants,Kings XI Punjab,bat,normal,0,Rising Pune Supergiants,0,4,MS Dhoni,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,HDPK Dharmasena,Nitin Menon,NaN
629,630,2016,Kanpur,2016-05-21,Mumbai Indians,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN
630,631,2016,Kolkata,2016-05-22,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,22,0,YK Pathan,Eden Gardens,KN Ananthapadmanabhan,M Erasmus,NaN
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [50]:
dff.tail(1)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [51]:
# how many rows and columns in a dataset

In [53]:
dff.shape

(636, 18)

In [54]:
dff.shape[0]

636

In [55]:
dff.shape[1]

18

In [56]:
# info function

In [57]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [59]:
dff.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [60]:
dff['winner']

0              Sunrisers Hyderabad
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4      Royal Challengers Bangalore
                  ...
631    Royal Challengers Bangalore
632    Royal Challengers Bangalore
633            Sunrisers Hyderabad
634            Sunrisers Hyderabad
635            Sunrisers Hyderabad
Name: winner, Length: 636, dtype: object

In [64]:
dff['umpire1']

0          AY Dandekar
1       A Nand Kishore
2          Nitin Menon
3         AK Chaudhary
4                  NaN
            ...
631     A Nand Kishore
632       AK Chaudhary
633          M Erasmus
634          M Erasmus
635    HDPK Dharmasena
Name: umpire1, Length: 636, dtype: object

In [65]:
dff["umpire2"]

0             NJ Llong
1               S Ravi
2            CK Nandan
3        C Shamshuddin
4                  NaN
            ...
631       BNJ Oxenford
632    HDPK Dharmasena
633      C Shamshuddin
634          CK Nandan
635       BNJ Oxenford
Name: umpire2, Length: 636, dtype: object

In [66]:
dff['umpire1']

0          AY Dandekar
1       A Nand Kishore
2          Nitin Menon
3         AK Chaudhary
4                  NaN
            ...
631     A Nand Kishore
632       AK Chaudhary
633          M Erasmus
634          M Erasmus
635    HDPK Dharmasena
Name: umpire1, Length: 636, dtype: object

In [67]:
# How to fatch multiple colunms

In [73]:
dff[["date","team1","team2","winner","result","city"]]

,date,team1,team2,winner,result,city
0,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,Hyderabad
1,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,normal,Pune
2,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,normal,Rajkot
3,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,normal,Indore
4,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,normal,Bangalore
...,...,...,...,...,...,...
631,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Raipur
632,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Bangalore
633,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,normal,Delhi
634,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,normal,Delhi
635,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,Bangalore

In [74]:
dff[["date","team1","team2","winner","result","city"]].shape

(636, 6)

In [76]:
dff[["result"]].shape

(636, 1)

In [77]:
# fatch rows

In [79]:
dff.iloc[0]

id                                                         1
season                                                  2017
city                                               Hyderabad
date                                              2017-04-05
team1                                    Sunrisers Hyderabad
team2                            Royal Challengers Bangalore
toss_winner                      Royal Challengers Bangalore
toss_decision                                          field
result                                                normal
dl_applied                                                 0
winner                                   Sunrisers Hyderabad
win_by_runs                                               35
win_by_wickets                                             0
player_of_match                                 Yuvraj Singh
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                          AY Dandekar
umpire2                                             NJ Llong
umpire3                                                  NaN
Name: 0, dtype: object

In [81]:
dff.iloc[:3]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [86]:
dff.iloc[1,2]

'Pune'

In [89]:
dff.iloc[:,[4,5,10]]

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore
...,...,...,...
631,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore
632,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore
633,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad
634,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad
635,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad

In [7]:
ser = pd.Series(pd.date_range("2000", periods=2, tz="CET"))

In [8]:
ser

0   2000-01-01 00:00:00+01:00
1   2000-01-02 00:00:00+01:00
dtype: datetime64[ns, CET]

In [18]:
dff

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [13]:
# delete a particular columns and rows

In [17]:
dff.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
631    False
632    False
633    False
634    False
635    False
Length: 636, dtype: bool